.Timer {
  text-align: center;
  margin-top: 60px;
}

body {
  background-color: lightgray;
}

.cube-piece {
  border: 1px solid #000;
  float: left;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
}

.invisible-piece {
  opacity: 0;
}

:root {
  --full-length: 34px;
  --side-length: 12px;
}

.front-square {
  height: var(--full-length);
  width: var(--full-length);
}

.top-square {
  height: var(--side-length);
  width: var(--full-length);
}

.bottom-square {
  height: var(--side-length);
  width: var(--full-length);
}

.left-square {
  height: var(--full-length);
  width: var(--side-length);
}

.right-square {
  height: var(--full-length);
  width: var(--side-length);
}

.corner {
  height: var(--side-length);
  width: var(--side-length);
}

.algorithm-face {
  margin: 30px;
  width: 140px;
}

.algorithm-container {
  border: 1px solid #777;
  float: left;
  flex-basis: 33%;
}

.cube-row:after {
  clear: both;
  content: '';
  display: table;
}

.grey {
  background-color: #444;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.algorithms-list {
  display: flex;
  flex-wrap: wrap;

}
