:root {
  --full-length: 34px;
  --side-length: 12px;
  --bg-color: #ffffcc;
  --text-color-1: #ffffff;
  --theme-color-1: #ff9933;
  --theme-color-2: #dd7711;
  --theme-color-3: #cc6600;
  --theme-color-4: #ffbf80;
}

.custom-button {
  border-color: var(--theme-color-4);
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--theme-color-1);
  color: var(--text-color-1);
  padding: 6px 12px;
  cursor: pointer;
}


.body {
  margin: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

/* Buttons */

.custom-button:active {
  background-color: var(--theme-color-2);
}

.custom-button:disabled {
  border: 1px solid var(--theme-color-1);
  background-color: var(--theme-color-3);
  cursor: default;
}

.custom-button:disabled:active {
  background-color: var(--theme-color-3);
}


/* Timer */

.timer {
  text-align: center;
}

.time {
  font-weight: bold;
  font-size: 100px;
}

.under-timer-container {
  display: flex;
  justify-content: space-between;
}

.results-list-container {
  background: var(--theme-color-2);
  width: 300px;
  border-radius: 5px;
  border: 1px solid var(--theme-color-4);
}

.results-list {
  display: flex;
  flex-direction: column-reverse;
  color: var(--text-color-1);
  font-weight: bold;
}

.stats {
  display: block;
  font-weight: bold;
  color: var(--text-color-1);
  background: var(--theme-color-1);
  border-radius: 5px;
  border: 1px solid var(--theme-color-4);
  padding: 10px;
  height: fit-content;
}


/* Algorithms List */

.algorithms-list {
  text-align: center;
}

.algorithms-list-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.hidden-element {

}

.tabs-menu {

}

.colors-menu {
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid var(--theme-color-4);
}

.colors-menu-part {
  padding: 10px 20px;
  background-color: var(--theme-color-1);
}

.description-inner-text {
  font-weight: bold;
  color: var(--text-color-1);
}

.color-button {
  height: 20px;
  width: 20px;
  font-size: 10px;
}

.progress {
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: var(--theme-color-4);
}

.algorithms {
  display: flex;
  flex-wrap: wrap;
}

/* Algorithm */

.algorithm-area {
  border: 1px solid var(--theme-color-1);
  float: left;
  flex-basis: 33%;
}

.algorithm-text {
  display: block;
  width: 300px;
}

.algorithm-face {
  margin: 30px;
  width: 140px;
}

.cube-row:after {
  clear: both;
  content: '';
  display: table;
}

/* Cube pieces */

.cube-piece {
  border: 1px solid #000;
  float: left;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
}

.invisible-piece {
  opacity: 0;
}

.front-square {
  height: var(--full-length);
  width: var(--full-length);
}

.top-square {
  height: var(--side-length);
  width: var(--full-length);
}

.bottom-square {
  height: var(--side-length);
  width: var(--full-length);
}

.left-square {
  height: var(--full-length);
  width: var(--side-length);
}

.right-square {
  height: var(--full-length);
  width: var(--side-length);
}

.corner {
  height: var(--side-length);
  width: var(--side-length);
}

/* Colors for cube pieces */

.grey {
  background-color: #444;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}


/* Other */

