
/* Variables */
:root {
    --full-length: 34px;
    --side-length: 12px;
    --bg-color: #ffffcc;
    --text-color-1: #ffffff;
    --theme-color-1: #ffbf80;
    --theme-color-2: #ff9933;
    --theme-color-3: #dd7711;
    --theme-color-4: #cc6600;
    --danger-color-1: #b30000;
    --danger-color-2: #990000;
    --danger-color-3: #800000;
}

.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
}

.app-menu {
    position: sticky;
    top: 0;
    background-color: var(--theme-color-1);
    border: 1px solid var(--theme-color-2);
    display: flex;
    justify-content: center;
    z-index: 5;
}

.app-menu-buttons {
    width: max-content;
    margin: 5px;
}

.app-settings-button-container {
    position: fixed;
    top: 5px;
    right: 10px;
}


/* Buttons */

.custom-button {
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0 1px;
}
.custom-button:disabled {
    cursor: default;
}

.big-button {
    padding: 24px 30px;
}

.orange-button {
    background-color: var(--theme-color-2);
    border-color: var(--theme-color-1);
    color: var(--text-color-1);
}
.orange-button:active {
    background-color: var(--theme-color-3);
}
.orange-button:disabled {
    border: 1px solid var(--theme-color-2);
    background-color: var(--theme-color-3);
}

.red-button {
    background-color: var(--danger-color-2);
    border-color: var(--danger-color-1);
    color: var(--text-color-1);
}
.red-button:active {
    background-color: var(--danger-color-3);
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--theme-color-2);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-3);
}

/* Timer */

.timer-tab {
    text-align: center;
}

.tabs-menu {
    margin: 10px;
}

.time {
    font-weight: bold;
    font-size: 150px;
    margin-top: 10vh;
}

.scramble-field {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.scramble {
    font-size: 40px;
    font-weight: bold;
}

.under-timer-container {
}

.results-list-container {
    background-color: var(--theme-color-1);
    border: 1px solid var(--theme-color-2);
    border-radius: 5px;
    width: 250px;
    padding: 10px 0;
    position: fixed;
    top: 57px;
    bottom: 6px;
    left: 6px;
    display: flex;
    flex-direction: column;
}

.results-list {
    display: flex;
    flex-direction: column-reverse;
    color: var(--text-color-1);
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
    overflow-y: scroll;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    background-color: var(--theme-color-1);
    border: 1px solid var(--theme-color-2);
    border-radius: 5px;
    font-weight: normal;
}

.popup-inner-content {
    font-size: 18px;
    color: var(--text-color-1);
    text-align: center;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.stats {
    display: block;
    font-weight: bold;
    color: var(--text-color-1);
    background-color: var(--theme-color-1);
    border: 1px solid var(--theme-color-2);
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    width: 180px;
    position: fixed;
    top: 57px;
    right: 6px;
}


/* Algorithms List */

.algorithms-tab {
    position: fixed;
    top: 52px;
    bottom: 0;
    right: 2px;
    left: 6px;
    text-align: center;
    overflow-y: scroll;
}

.colors-menu {
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid var(--theme-color-2);
    position: fixed;
    bottom: 6px;
    left: 6px;
    width: min-content;
    height: min-content;
}

.colors-menu-part {
    padding: 10px 20px;
    background-color: var(--theme-color-1);
}

.description-inner-text {
    font-weight: bold;
    color: var(--text-color-1);
}

.color-buttons-row {
    width: max-content;
}

.color-button {
    height: 20px;
    width: 20px;
    font-size: 10px;
}

.progress {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid var(--theme-color-2);
}

.algorithms-table {
    display: flex;
    flex-direction: column;
    margin: 5px 5% 0 5%;
}


/* Algorithm */

.algorithms-row {
    border: 1px solid var(--theme-color-1);
    display: flex;
    background-color: #f0f2f4;
    margin: -1px 0 0 0;
}

.algorithms-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--theme-color-1);
    background-color: inherit;
    border-width: 0 0 0 1px;
}

.algorithms-table-header {
    position: sticky;
    top: -1px;
    background-color: var(--theme-color-2);
    font-weight: bold;
    color: var(--text-color-1);
    padding: 2px 0;
}

.algorithm-name {
    font-size: 30px;
}
.algorithm-name-width {
    width: 150px;
    border-width: 0;
}

.algorithm-face-button:hover {
    background-color: rgba(0, 0, 0, 0.13);
}
.algorithm-face {
    margin: 30px;
    width: 122px;
}
.algorithm-face-width {
    width: 195px;
    min-width: 195px;
}

.algorithm-sequence {
    font-size: 20px;
}
.algorithm-sequence-width {
    width: 650px;
    flex-grow: 1;
}

.algorithm-stat {
    font-size: 25px;
}
.algorithm-stat-width {
    width: 150px;
    flex-grow: 1;
}

/* Cube pieces */

.cube-row:after {
    clear: both;
    content: '';
    display: table;
}

.cube-piece {
    border: 1px solid #000;
    float: left;
    padding: 0;
    margin-right: -1px;
    margin-top: -1px;
}

.invisible-piece {
    opacity: 0;
}

.front-square {
    height: var(--full-length);
    width: var(--full-length);
}

.top-square {
    height: var(--side-length);
    width: var(--full-length);
}

.bottom-square {
    height: var(--side-length);
    width: var(--full-length);
}

.left-square {
    height: var(--full-length);
    width: var(--side-length);
}

.right-square {
    height: var(--full-length);
    width: var(--side-length);
}

.corner {
    height: var(--side-length);
    width: var(--side-length);
}

/* Colors for cube pieces */

.grey {
    background-color: #444;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* Colors for algorithms states */

.learning {
    background-color: #fefe7c;
}

.finished {
    background-color: lightgreen;
}

/* Other */
